    <div class="project-box">
        <a href="{github}" class="github-link" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub" class="github-icon" />
    </a>

        <img src="{picture}" alt="Project 1" class="project-img">
        <div class="project-info">
            <h2 class="project-title">{title}</h2>
            <p class="project-description">{description}</p>
            <ul class="skills-list">
                {skills}
            </ul>
        </div>
    </div>
