/* Form style */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.form-input,
.form-textarea,
.form-file {
    width: 100%;
    padding: 12px;
    border: 1px solid #252627;
    border-radius: 6px;
    font-size: 1em;
    color: #C9C5BA; 
    background-color: #151617;
    transition: border-color 0.3s;
    outline:none;
}

.form-textarea {
    height: 400px;
}

.form-input:focus,
.form-textarea:focus,
.form-file:focus {
    outline: none;
    border-color: #bc6c25;
}

.form-group.button-group {
    text-align: center;
}

.article-form .form-textarea{
    border: none;
    height: fit-content;
    resize: none;
    min-height: 400px;
    field-sizing: content;
}

.article-form .form-file:focus {
    outline: none;
}
