@import "./homepage.css";
@import "./profile.css";
@import "./portfolio.css";
@import "./form.css";
@import "./admin.css";
@import "./blog.css";

body {
    background-color: #252627;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
}

h1 {
    color: #A1683A;
    font-size: 2.3em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #A1683A;
    font-size: 1.75em;
}

p {
    color: #C9C5BA;
    font-size: 1em;
}

/* Generic style for all links */
a {
    color: #C9C5BA; 
    font-size: 1em;
    font-family: Georgia, serif; 
    font-weight: normal; 
    transition: color 0.3s ease, transform 0.2s ease, text-decoration 0.2s ease; 
}

a:hover {
    color: #e76f51; 
    transform: scale(1.05);
}

a:active {
    color: #A1683A; 
    transform: scale(1.02); 
    outline: none; 
}

a:focus {
    outline: none; 
}

.content {
    width: 50%; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    padding-top: 60px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 15px;
    width: 100%;
    position: fixed;
    z-index:1000;
    top: 0;
    left: 0;
    background-color: #252627;
    opacity: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.nav a {
    text-decoration: none;
    color: #C9C5BA;
    padding: 12px 18px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
}

.nav a:hover {
    transform: scale(1.15);
}

.nav a:focus {
    outline: none;
}

.nav a:active {
    outline: none;
}
