@import"./homepage.css";
@import"./portfolio.css";

body {
    background-color: #252627;
    font-family: Georgia;
    display: flex;
    justify-content: center;
}

/* Generic style for all links */
h1 {
    color: #A1683A;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #A1683A;
    font-size: 1.75em;
}

p {
    color: #C9C5BA;
    font-size: 1em;
}

a {
    color: #C9C5BA; 
    font-size: 1em;
    font-family: Georgia, serif; 
    font-weight: normal; 
    transition: color 0.3s ease, transform 0.2s ease, text-decoration 0.2s ease; 
}

a:hover {
    color: #e76f51; 
    transform: scale(1.05);
}

a:active {
    color: #A1683A; 
    transform: scale(1.02); 
    outline: none; 
}

a:focus {
    outline: none; 
}

.content {
    width: 50%; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    padding-top: 60px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.nav a {
    text-decoration: none;
    color: #C9C5BA;
    padding: 12px 18px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
}

.nav a:hover {
    transform: scale(1.15);
}

.nav a:focus {
    outline: none;
}

.nav a:active {
    outline: none;
}


/* Admin style*/
.button {
  background-color: #2563eb; /* Tailwind's blue-600 */
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border: none;
  border-radius: 0.5rem; /* rounded */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #1d4ed8; /* Tailwind's blue-700 */
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.5); /* blue ring */
}


.button.switchable:active {
  transform: translateY(2px);
  box-shadow: 0 2px #2d7a38;
}

.button.switchable:disabled {
  background-color: #5d5ef8; /* Tailwind's blue-700 */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
  transform: translateY(2px);
}
/* Form style */

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-heading {
  text-align: center;
  font-size: 1.8em;
  color: #bc6c25;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 1.1em;
  color: #dda15e;
  margin-bottom: 8px;
}

.form-input,
.form-textarea,
.form-file {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1em;
  color: #C9C5BA; 
  background-color: #252627;
  transition: border-color 0.3s;
}

.form-input:focus,
.form-textarea:focus,
.form-file:focus {
  outline: none;
  border-color: #bc6c25;
}

.form-textarea {
  resize: vertical;
  min-height: 120px;
}

.form-group.button-group {
  text-align: center; /* center-align contents of this group */
}

.form-button {
  padding: 12px 25px;
  font-size: 1.2em;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  width: 50%;
  background-color: #2563eb; /* Tailwind's blue-600 */
  margin: 0 auto;
  box-sizing: border-box 
}

.form-button:hover {
  background-color: #1d4ed8; /* Tailwind's blue-700 */
}

/* Portfolio page */
.button.add-button {
    text-align: center;
    width: 50px;
}
