/* Style for the section homepage*/
#homepage-section {
}

.homepage-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
}

.homepage-img {
    width: 200px; 
    height: auto; 
    border-radius: 999px; 
    margin-right: 20px;
}

.homepage-text {
    padding-left: 20px; 
    justify-content: left;
}
