#portfolio {
}

.project-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
    padding: 20px;
    position: relative; 
}

.project-box .github-link {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none; 
    color: #e76f51; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.project-box .github-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.project-box .github-link:hover .github-icon {
    transform: scale(1.2); 
}

.project-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.project-info {
    text-align: left;
    max-width: 600px; 
}

.project-title {
    color: #A1683A;
    margin-bottom: 10px;
}

.project-description {
    color: #C9C5BA;
    margin-bottom: 10px;
}

.skills-list {
    list-style: none;
    padding: 3;
}

.skills-list li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: #e76f51;
    color: white;
    border-radius: 20px;
    font-size: 13px;
}
